@font-face{
    font-family: "Ubuntu";
    src: url("../../font/Ubuntu/Ubuntu-Bold.ttf")
  }
  .paymentCheckPrintCheck{
    font-weight: bold;
    font-family: 'Ubuntu';
  }
  span, th, td, a, p{
   font-weight: bold;
   font-family: 'Ubuntu';
  }